venv/
log/
out/
published/
var/
node_modules/

# Python artifacts
__pycache__/
*.py[cod]

# Core project artifacts
core/backend/logs/
core/backend/out/
core/backend/published/
core/backend/venv/
core/frontend/node_modules/
core/frontend/dist/
core/frontend/logs/
core/transcoder/logs/

# Webserver artifacts
webserver/backend/logs/
webserver/backend/public/
webserver/backend/venv/
