venv/
log/
out/
published/
var/
node_modules/

# Python artifacts
__pycache__/
*.py[cod]

# Core project artifacts
core/backend/logs/
core/backend/out/
core/backend/published/
core/backend/venv/
core/frontend/node_modules/
core/frontend/dist/
core/frontend/logs/
core/transcoder/logs/

# Webserver artifacts
webserver/backend/logs/
webserver/backend/public/
webserver/backend/venv/

# Video files
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.mpeg
*.mpg

# SQLite database files
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
*.db-shm
*.db-wal